<div class="p-3 mx-auto text-center">
    <h1 class="display-4">Mes Contacts</h1>
</div>

<div class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card shadow-sm">
                    <table id="contactTable" class="table">
                        <thead>
                        <tr>
                            <th scope="col">Prénom</th>
                            <th scope="col">Nom</th>
                            <th scope="col">Email</th>
                            <th scope="col">Tel</th>
                        </tr>
                        </thead>
                        <tbody>
                        {{#if contacts }}
                        {{#each contacts }}
                            <tr>
                                <td>{{ prenom }}</td>
                                <td>{{ nom }}</td>
                                <td>{{ email }}</td>
                                <td>{{ tel }}</td>
                            </tr>
                        {{/each}}
                        {{else}}
                            <tr>
                                <td colspan="6">
                                    <p class="text-center">Pas de contact pour le moment.</p>
                                </td>
                            </tr>
                        {{/if}}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
